@import './vars';
@import './swiper.css';

.swiper-pagination-bullet {
    background-color: #525352;
    border-radius: 7px;
    width: 7px;
    height: 7px;
    opacity: 1;
    vertical-align: middle;
}

.swiper-pagination-bullet-active {
    width: 11px;
    border-radius: 11px;
    background: #fff;
    height: 11px;
    box-shadow: 0 0 0 2px #000;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 6px;
}
.swiper-container{
    margin-top: 10px;
    & img{
        display: block;
    }
}

.block-title {
    margin: 50px 0 45px 0;
    line-height: 78px;
    font-weight: normal;
    font-size: 28px;
    text-align: center;
}

.block-title:after {
    display: block;
    content: ' ';
    width: 102px;
    height: 5px;
    border-radius: 5px;
    background-color: $bcolor;
    margin: 0 auto;
}

.strengths {
    & ul {
        overflow: hidden;
        & li {
            width: 235px;
            float: left;
            margin: 0 (1000-235*4)/3 +px 20px 0;
            border-radius: 5px;
            background-color: #f7f7f7;
            font-size: 16px;
            &:nth-child(4n) {
                margin-right: 0;
            }
            & a {
                display: block;
                color: #333;
                & img {
                    display: block;
                }
                & p {
                    text-align: center;
                    height: 56px;
                    line-height: 50px;
                }
            }
        }
    }
}

.mobile-step {
    & img {
        width: 932px;
        display: block;
        margin: 0 auto;
    }
    & .block-title{
        margin-top: 30px;
    }
}

.buy-step {
    & img {
        display: block;
        width: 1736/2+px;
        margin: 0 auto;
    }
}