@import './reset.css';
@import './base.css';

@mixin bg($img,$left:center,$top:top){
    background:url($img) no-repeat;
    background-size: 100%;
    @if $left {
        background-position: $left $top;
    }
}

@mixin bgcolor($color){
    background-color:$color;
}

body{
    @include bgcolor(#f00);
    /*color: #fff;*/
}

