<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <title>首页</title>
    <meta name="Keywords" content="" />
    <meta name="Description" content="" />
</head>

<body>
    <h1 class="h1">水润佳禾保定农场试验田</h1>
    <section class="banner">
        <img src="../images/tmp5.jpg" width="100%">
    </section>
    <section class="m-wrapper">
        <h2>农场环境 <p>Farm environment</p> </h2>
        <section class="environment">
            <dl>
                <dd><i class="icon icon-temperature"></i></dd>
                <dt>28</dt>
                <dd>温度( ℃ )</dd>
            </dl><dl>
                <dd><i class="icon icon-humidity"></i></dd>
                <dt>28</dt>
                <dd>温度( ℃ )</dd>
            </dl><dl>
                <dd><i class="icon icon-light"></i></dd>
                <dt>28</dt>
                <dd>温度( ℃ )</dd>
            </dl><dl>
                <dd><i class="icon icon-speed"></i></dd>
                <dt>28</dt>
                <dd>温度( ℃ )</dd>
            </dl><dl>
                <dd><i class="icon icon-direction"></i></dd>
                <dt>28</dt>
                <dd>温度( ℃ )</dd>
            </dl>
        </section>
    </section>

    <section class="m-wrapper introduction">
        <h2>农场介绍 <p>Farm introduction</p> </h2>
        <p>小汤山镇是中国北京市昌平区下辖的一个镇，位于县境中部偏东距北京首都国际机场19公里。维基百科,  以友谊农场五分场二队为例介绍了实现客户/服务器模式的精准农业,  地理信息系统的开发。以友谊农场五分场二队为例介绍了实现客户/服务器模式的精准农业地理信息系统的开发。</p>
        <a href="#" class="more">点击查看更多</a>
    </section>
    
    <section class="m-wrapper">
        <h2>地理位置 <p>geographical position</p> </h2>
        <section class="img-wrap">
            <img src="../images/map.jpg" width="100%">
        </section>
    </section>

    <section class="m-wrapper">
        <h2>农场产品 <p>Farm products</p> </h2>
        <section class="li-1">
            <dl>
                <dt><img src="../images/tmp.jpg" width="100%"></dt>
                <dd>成熟期</dd>
            </dl>
            <dl>
                <dt><img src="../images/tmp.jpg" width="100%"></dt>
                <dd>成熟期</dd>
            </dl>
            <dl>
                <dt><img src="../images/tmp.jpg" width="100%"></dt>
                <dd>成熟期</dd>
            </dl>
            <dl>
                <dt><img src="../images/tmp.jpg" width="100%"></dt>
                <dd>成熟期</dd>
            </dl>
            <dl>
                <dt><img src="../images/tmp.jpg" width="100%"></dt>
                <dd>成熟期</dd>
            </dl>
            <dl>
                <dt><img src="../images/tmp.jpg" width="100%"></dt>
                <dd>成熟期</dd>
            </dl>
        </section>
    </section>

    <section class="m-wrapper contact">
        <h2>联系方式 <p>Contact information</p> </h2>
        <section >
            <dl>
                <dt><i class="icon icon-ct1"></i></dt>
                <dd>农场主：刘厂长</dd>
            </dl>
            <dl>
                <dt><i class="icon icon-ct2"></i></dt>
                <dd><a href="tel://400-123-1234">电话：400-123-1234</a></dd>
            </dl>
        </section>
    </section>
</body>

</html>