<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <title>首页</title>
    <meta name="Keywords" content="" />
    <meta name="Description" content="" />
</head>

<body>
    <section class="has-bbar">
        <h2 class="common-tit">设备日志记录</h2>
        <div class="form-group-head">设备清单</div>
        <ul>
            <li class="form-th">
                <p>设备名称</p>
                <p class="txt-m">数量</p>
                <p class="txt-m">日期</p>
            </li>
            <li class="form-tr">
                <p>通讯网关</p>
                <p class="ora txt-m">1</p>
                <p class="txt-m">15.10.10</p>
            </li>
            <li class="form-tr">
                <p>通讯网关</p>
                <p class="ora txt-m">1</p>
                <p class="txt-m">15.10.10</p>
            </li>
            <li class="form-tr">
                <p>通讯网关</p>
                <p class="ora txt-m">1</p>
                <p class="txt-m">15.10.10</p>
            </li>
            <li class="form-tr">
                <p>通讯网关</p>
                <p class="ora txt-m">1</p>
                <p class="txt-m">15.10.10</p>
            </li>
        </ul>
        <div class="form-group-head">设备分布图纸</div>
        <section>
            <img src="../images/tmp.jpg" width="100%">
        </section>
        <div class="form-group-head">设备日志</div>
        <section>
            <dl class="msg-card">
                <dt><span class="warn">系统消息</span></dt>
                <dd>由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。</dd>
                <dd class="date">2015.10.29 18:10</dd>
            </dl>
            <dl class="msg-card">
                <dt><span class="warn">系统消息</span></dt>
                <dd>由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。</dd>
                <dd class="date">2015.10.29 18:10</dd>
            </dl>
        </section>
    </section>
    <section class="bbar">
        <ul>
            <li><a href=""><i class="ico ico-b-1"></i><p>设备监控</p></a></li>
            <li><a href=""><i class="ico ico-b-2"></i><p>数据统计</p></a></li>
            <li><a href=""><i class="ico ico-b-3"></i><p>图像记录</p></a></li>
            <li class="cur"><a href=""><i class="ico ico-b-4"></i><p>设备日志</p></a></li>
        </ul>
    </section>
</body>

</html>