<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <title>首页</title>
    <meta name="Keywords" content="" />
    <meta name="Description" content="" />
</head>

<body>
    <section class="msg-group">
        <a href="#" class="msg-card">
            <dl>
                <dt><span>系统消息</span><em></em></dt>
                <dd>由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。</dd>
                <dd class="date">2015.10.29 18:10</dd>
            </dl>
        </a>
    </section>
    <section class="msg-group">
        <a href="#" class="msg-card">
            <dl>
                <dt><span>警告提醒</span></dt>
                <dd>由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。</dd>
                <dd class="date">2015.10.29 18:10</dd>
            </dl>
        </a>
    </section>
    <section class="msg-group">
        <a href="#" class="msg-card">
            <dl>
                <dt><span>操作提示</span></dt>
                <dd>由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。</dd>
                <dd class="date">2015.10.29 18:10</dd>
            </dl>
        </a>
    </section>
</body>

</html>