<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
        
    <title>阀门灌溉</title>

    <meta name="Keywords" content="" />
    <meta name="Description" content="" />

</head>
<body>
    <div class="wrapper clearfix">
    	<div class="nav">
    		<div class="logo">
    			<img src="../images/logo.png" width="50" >
    			您好，张先生
    		</div>
    		<ul>
    			<li class="cur">
    				<a href="#">
    					<i class="icons ico-nav-1"></i>
    					农场介绍
    				</a>
    			</li>
    			<li>
    				<a href="#">
    					<i class="icons ico-nav-2"></i>
    					设备管理
    				</a>
    			</li>
    			<li>
    				<a href="#">
    					<i class="icons ico-nav-3"></i>
    					农事管理
    				</a>
    			</li>
    			<li>
    				<a href="#">
    					<i class="icons ico-nav-4"></i>
    					食品溯源
    				</a>
    			</li>
    		</ul>
    	</div>
    	<div class="right-cont">
    		<div class="top">
    			<h1>水润佳禾保定温室农场试验基地</h1>
    			<div class="menu">
    				<ul>
    					<li><a href="#" class="icons ico-home"></a></li>
    					<li><a href="#" class="icons ico-pwd"></a></li>
    					<li><a href="#" class="icons ico-quit"></a></li>
    				</ul>
    			</div>
    		</div>
    		<div class="main">
	    		<div class="msg">
	    			重要信息提示，一般不出来的!
	    			<a href="#" class="icons ico-close"></a>
	    		</div>
                <div class="crumbs">
                    <h2><i class="icons ico-dt"></i>大田一号管理</h2>
                    <ul>
                        <li class="cur"><a href="#">墒情分析</a></li>
                        <li><span>/</span></li>
                        <li><a href="#">数据统计</a></li>
                        <li><span>/</span></li>
                        <li><a href="#">设备记录</a></li>
                    </ul>
                </div>
	    		<div class="pannel">
	    			<h2>设备状态</h2>
                    <div class="ul3">
    	    			<dl>
                            <dd class="controller"></dd>
                            <dt>链接</dt>
                            <dd class="tit">网关状态</dd>          
                        </dl>
                        <dl>
                            <dd class="controller"><em>正常</em><a href="#" class="icons ico-setting"></a></dd>
                            <dt>4.1</dt>
                            <dd class="tit">电源状态（V）</dd>          
                        </dl>
                        <dl>
                            <dd class="controller"><em>正常</em><a href="#" class="icons ico-setting"></a></dd>
                            <dt>85</dt>
                            <dd class="tit">湿度(%RH)</dd>          
                        </dl>
                        <dl>
                            <dd class="controller"><em class="error">下线超标</em><a href="#" class="icons ico-setting"></a></dd>
                            <dt>10284</dt>
                            <dd class="tit">光照(LUX)</dd>          
                        </dl>
                        <dl>
                            <dd class="controller"><em>正常</em><a href="#" class="icons ico-setting"></a></dd>
                            <dt>4.1</dt>
                            <dd class="tit">电源状态（V）</dd>          
                        </dl>
                    </div>
	    		</div>
                <div class="pannel">
                    <h2>数据采集</h2>
                    <div class="ul3">
                        <dl>
                            <dd class="controller"><em>正常</em><a href="#" class="icons ico-setting"></a></dd>
                            <dt>1.5</dt>
                            <dd class="tit">主管道压力(MPa)</dd>          
                        </dl>
                        <dl>
                            <dd class="controller"><em>正常</em><a href="#" class="icons ico-setting"></a></dd>
                            <dt>4.1</dt>
                            <dd class="tit">电源状态（V）</dd>          
                        </dl>
                        <dl>
                            <dd class="controller"><em>正常</em><a href="#" class="icons ico-setting"></a></dd>
                            <dt>85</dt>
                            <dd class="tit">湿度(%RH)</dd>          
                        </dl>
                        <dl>
                            <dd class="controller"><em class="error">下线超标</em><a href="#" class="icons ico-setting"></a></dd>
                            <dt>10284</dt>
                            <dd class="tit">光照(LUX)</dd>          
                        </dl>
                        <dl>
                            <dd class="controller"><em>正常</em><a href="#" class="icons ico-setting"></a></dd>
                            <dt>4.1</dt>
                            <dd class="tit">电源状态（V）</dd>          
                        </dl>
                    </div>
                </div>
                <div class="pannel">
                    <h2>实时设备控制</h2>
                    <div class="ul3">
                        <dl>
                            <dd class="controller"></dd>
                            <dt>
                                <p class="btn-switch"><i></i></p>
                            </dt>
                            <dd class="tit">网关状态</dd>          
                        </dl>
                        <dl>
                            <dd class="controller"></dd>
                            <dt><p class="btn-switch open"><i></i></p></dt>
                            <dd class="tit">电源状态（V）</dd>          
                        </dl>
                        <dl>
                            <dd class="controller"></dd>
                            <dt><p class="btn-switch open"><i></i></p></dt>
                            <dd class="tit">湿度(%RH)</dd>          
                        </dl>
                        <dl>
                            <dd class="controller"></dd>
                            <dt><p class="btn-switch open"><i></i></p></dt>
                            <dd class="tit">光照(LUX)</dd>          
                        </dl>
                        <dl>
                            <dd class="controller"></dd>
                            <dt><p class="btn-switch"><i></i></p></dt>
                            <dd class="tit">电源状态（V）</dd>          
                        </dl>
                    </div>
                </div>
    		</div>
    	</div>
    </div>

</body>
</html>
