<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
        
    <title>首页</title>

    <meta name="Keywords" content="" />
    <meta name="Description" content="" />

</head>
<body>
    <div class="wrapper clearfix">
    	<div class="nav">
    		<div class="logo">
    			<img src="../images/logo.png" width="50" >
    			您好，张先生
    		</div>
    		<ul>
    			<li class="cur">
    				<a href="#">
    					<i class="icons ico-nav-1"></i>
    					农场介绍
    				</a>
    			</li>
    			<li>
    				<a href="#">
    					<i class="icons ico-nav-2"></i>
    					设备管理
    				</a>
    			</li>
    			<li>
    				<a href="#">
    					<i class="icons ico-nav-3"></i>
    					农事管理
    				</a>
    			</li>
    			<li>
    				<a href="#">
    					<i class="icons ico-nav-4"></i>
    					食品溯源
    				</a>
    			</li>
    		</ul>
    	</div>
    	<div class="right-cont">
    		<div class="top">
    			<h1>水润佳禾保定温室农场试验基地</h1>
    			<div class="menu">
    				<ul>
    					<li><a href="#" class="icons ico-home"></a></li>
    					<li><a href="#" class="icons ico-pwd"></a></li>
    					<li><a href="#" class="icons ico-quit"></a></li>
    				</ul>
    			</div>
    		</div>
    		<div class="main">
	    		<div class="msg">
	    			重要信息提示，一般不出来的!
	    			<a href="#" class="icons ico-close"></a>
	    		</div>
	    		<div class="pannel">
	    			<h2>设备综合管控</h2>
	    			<ul class="ul1">
	    				<li><a href="#"><i class="icons ico-cj"></i>采集设备</a></li>
	    				<li><a href="#"><i class="icons ico-kz"></i>控制设备</a></li>
	    				<li><a href="#"><i class="icons ico-syt"></i>试验田</a></li>
	    				<li><a href="#"><i class="icons ico-pl"></i>批量控制</a></li>
	    				<li><a href="#"><i class="icons ico-dpm"></i>大屏幕</a></li>
	    				<li><a href="#"><i class="icons ico-fz"></i>设备分组</a></li>
	    				<li><a href="#"><i class="icons ico-zn"></i>智能设置</a></li>
	    			</ul>
	    		</div>
	    		<div class="pannel">
	    			<h2>设备管理</h2>
	    			<ul class="ul2">
	    				<li><a href="#"><i class="icons ico-wg"></i>网关一号</a></li>
	    				<li><a href="#"><i class="icons ico-wg"></i>网关二号</a></li>
	    				<li><a href="#"><i class="icons ico-wg"></i>大棚三号</a></li>
	    				<li><a href="#"><i class="icons ico-wg"></i>土壤墒情</a></li>
	    			</ul>
	    		</div>
    		</div>
    	</div>
    </div>

</body>
</html>
