<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
        
    <title>首页</title>

    <meta name="Keywords" content="" />
    <meta name="Description" content="" />

</head>
<body>
    <div class="wrapper clearfix">
    	<div class="nav">
    		<div class="logo">
    			<img src="../images/logo.png" width="50" >
    			您好，张先生
    		</div>
    		<ul>
    			<li class="cur">
    				<a href="#">
    					<i class="icons ico-nav-1"></i>
    					农场介绍
    				</a>
    			</li>
    			<li>
    				<a href="#">
    					<i class="icons ico-nav-2"></i>
    					设备管理
    				</a>
    			</li>
    			<li>
    				<a href="#">
    					<i class="icons ico-nav-3"></i>
    					农事管理
    				</a>
    			</li>
    			<li>
    				<a href="#">
    					<i class="icons ico-nav-4"></i>
    					食品溯源
    				</a>
    			</li>
    		</ul>
    	</div>
    	<div class="right-cont">
    		<div class="top">
    			<h1>水润佳禾保定温室农场试验基地</h1>
    			<div class="menu">
    				<ul>
    					<li><a href="#" class="icons ico-home"></a></li>
    					<li><a href="#" class="icons ico-pwd"></a></li>
    					<li><a href="#" class="icons ico-quit"></a></li>
    				</ul>
    			</div>
    		</div>
    		<div class="main">
	    		<div class="msg">
	    			重要信息提示，一般不出来的!
	    			<a href="#" class="icons ico-close"></a>
	    		</div>
	    		<div class="pannel">
	    			<h2>设备综合管控</h2>
	    			<ul class="ul1">
	    				<li><a href="#"><i class="icons ico-cj"></i>采集设备</a></li>
	    				<li><a href="#"><i class="icons ico-kz"></i>控制设备</a></li>
	    				<li><a href="#"><i class="icons ico-syt"></i>试验田</a></li>
	    				<li><a href="#"><i class="icons ico-pl"></i>批量控制</a></li>
	    				<li><a href="#"><i class="icons ico-dpm"></i>大屏幕</a></li>
	    				<li><a href="#"><i class="icons ico-fz"></i>设备分组</a></li>
	    				<li><a href="#"><i class="icons ico-zn"></i>智能设置</a></li>
	    			</ul>
	    		</div>
	    		<div class="pannel">
	    			<h2>设备管理</h2>
	    			<ul class="ul2">
	    				<li><a href="#"><i class="icons ico-wg"></i>网关一号</a></li>
	    				<li><a href="#"><i class="icons ico-wg"></i>网关二号</a></li>
	    				<li><a href="#"><i class="icons ico-wg"></i>大棚三号</a></li>
	    				<li><a href="#"><i class="icons ico-wg"></i>土壤墒情</a></li>
	    			</ul>
	    		</div>
    		</div>
    	</div>
    </div>
    <!-- 页面设备管理弹层1 -->
    <div class="layer">
        <div class="layer-container">
            <a href="javascript:;" class="icons ico-close gray"></a>
            <h3>页面管理</h3>
            <div class="layer-wrapper">
                <input type="text" name="" placeholder="页面名称" />
                <div class="controls">
                    <a href="#" class="button primary">更新</a>
                    <a href="#" class="button">取消</a>
                </div>
            </div>
        </div>
    </div>
    <!-- 页面设备管理弹层2 -->
    <div class="layer">
        <div class="layer-container">
            <a href="javascript:;" class="icons ico-close gray"></a>
            <h3>页面管理</h3>

            <div class="layer-wrapper">
                <input type="text" name="" placeholder="页面名称" />
                <div class="controls">
                    <a href="#" class="button primary">更新</a>
                    <a href="#" class="button">取消</a>
                </div>
            </div>
        </div>
        <div class="layer-container">
            <a href="javascript:;" class="icons ico-close gray"></a>
            <h3>页面设备管理</h3>

            <div class="layer-wrapper">
                <div class="form">
                    <label><span>所在页面:</span><p>page1</p></label>
                    <label><span>页面名称:</span><input type="text" name=""></label>
                    <label><span>选择设备:</span></label>
                    <div class="flex-cont">
                        <div class="scroller">
                            <ul>
                                <li><a href="#">1号网关</a></li>
                                <li><a href="#">1号网关</a></li>
                                <li><a href="#">1号网关</a></li>
                                <li><a href="#">1号网关</a></li>
                                <li><a href="#">1号网关</a></li>
                                <li><a href="#">1号网关</a></li>
                                <li><a href="#">1号网关</a></li>
                                <li><a href="#">1号网关</a></li>
                                <li><a href="#">1号网关</a></li>
                                <li><a href="#">1号网关</a></li>
                                <li><a href="#">1号网关</a></li>
                                <li><a href="#">1号网关</a></li>
                                <li><a href="#">1号网关</a></li>
                                <li><a href="#">1号网关</a></li>
                                <li><a href="#">1号网关</a></li>
                                <li><a href="#">1号网关</a></li>
                                <li><a href="#">1号网关</a></li>
                                <li><a href="#">1号网关</a></li>
                                <li><a href="#">1号网关</a></li>
                                <li><a href="#">1号网关</a></li>
                                <li><a href="#">1号网关</a></li>
                                <li><a href="#">1号网关</a></li>
                            </ul>
                        </div>
                        <div class="scroller">
                            <ul>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="controls">
                    <a href="#" class="button primary">更新</a>
                    <a href="#" class="button">取消</a>
                </div>
            </div>
        </div>
    </div>

    <!-- 智能控制-弹框 -->
    <div class="layer">
        <div class="layer-container">
            <a href="javascript:;" class="icons ico-close gray"></a>
            <h3>页面管理</h3>

            <div class="layer-wrapper">
                <input type="text" name="" placeholder="页面名称" />
                <div class="controls">
                    <a href="#" class="button primary">更新</a>
                    <a href="#" class="button">取消</a>
                </div>
            </div>
        </div>
        <div class="layer-container">
            <a href="javascript:;" class="icons ico-close gray"></a>
            <h3>页面设备管理</h3>

            <div class="layer-wrapper">
                <div class="form">
                    <label><span>页面名称:</span><input type="text" name=""></label>
                    <label><span>选择设备:</span></label>
                    <div class="flex-cont">
                        <div class="scroller">
                            <ul>
                                <li><a href="#">1号网关</a></li>
                                <li><a href="#">1号网关</a></li>
                                <li><a href="#">1号网关</a></li>
                                <li><a href="#">1号网关</a></li>
                                <li><a href="#">1号网关</a></li>
                                <li><a href="#">1号网关</a></li>
                                <li><a href="#">1号网关</a></li>
                                <li><a href="#">1号网关</a></li>
                                <li><a href="#">1号网关</a></li>
                                <li><a href="#">1号网关</a></li>
                                <li><a href="#">1号网关</a></li>
                                <li><a href="#">1号网关</a></li>
                                <li><a href="#">1号网关</a></li>
                                <li><a href="#">1号网关</a></li>
                                <li><a href="#">1号网关</a></li>
                                <li><a href="#">1号网关</a></li>
                                <li><a href="#">1号网关</a></li>
                                <li><a href="#">1号网关</a></li>
                                <li><a href="#">1号网关</a></li>
                                <li><a href="#">1号网关</a></li>
                                <li><a href="#">1号网关</a></li>
                                <li><a href="#">1号网关</a></li>
                            </ul>
                        </div>
                        <div class="scroller">
                            <ul>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="controls">
                    <a href="#" class="button primary">更新</a>
                    <a href="#" class="button">取消</a>
                </div>
            </div>
        </div>
    </div>

    <!-- 13智能控制-定是命令－弹框 -->
    <div class="layer">
        <div class="layer-container">
            <a href="javascript:;" class="icons ico-close gray"></a>
            <h3>页面管理</h3>

            <div class="layer-wrapper">
                <input type="text" name="" placeholder="页面名称" />
                <div class="controls">
                    <a href="#" class="button primary">更新</a>
                    <a href="#" class="button">取消</a>
                </div>
            </div>
        </div>
        <div class="layer-container">
            <a href="javascript:;" class="icons ico-close gray"></a>
            <h3>页面设备管理</h3>

            <div class="layer-wrapper">
                <div class="form">
                    <label><span>执行时间:</span><input type="text" name=""></label>
                    <label><span>页面名称:</span>
                        <select>
                            <option>选择设备状态</option>
                            <option>选择设备状态</option>
                            <option>选择设备状态</option>
                            <option>选择设备状态</option>
                        </select>
                    </label>
                    <label><span>选择设备:</span></label>
                    <div class="flex-cont">
                        <div class="scroller">
                            <ul>
                                <li><a href="#">1号网关</a></li>
                                <li><a href="#">1号网关</a></li>
                                <li><a href="#">1号网关</a></li>
                                <li><a href="#">1号网关</a></li>
                                <li><a href="#">1号网关</a></li>
                                <li><a href="#">1号网关</a></li>
                                <li><a href="#">1号网关</a></li>
                                <li><a href="#">1号网关</a></li>
                                <li><a href="#">1号网关</a></li>
                                <li><a href="#">1号网关</a></li>
                                <li><a href="#">1号网关</a></li>
                                <li><a href="#">1号网关</a></li>
                                <li><a href="#">1号网关</a></li>
                                <li><a href="#">1号网关</a></li>
                                <li><a href="#">1号网关</a></li>
                                <li><a href="#">1号网关</a></li>
                                <li><a href="#">1号网关</a></li>
                                <li><a href="#">1号网关</a></li>
                                <li><a href="#">1号网关</a></li>
                                <li><a href="#">1号网关</a></li>
                                <li><a href="#">1号网关</a></li>
                                <li><a href="#">1号网关</a></li>
                            </ul>
                        </div>
                        <div class="scroller">
                            <ul>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="controls">
                    <a href="#" class="button primary">更新</a>
                    <a href="#" class="button">取消</a>
                </div>
            </div>
        </div>
    </div>

    <!-- 15智能控制-周期命令-弹框2 -->
    <div class="layer">
        <div class="layer-container">
            <a href="javascript:;" class="icons ico-close gray"></a>
            <h3>页面管理</h3>

            <div class="layer-wrapper">
                <input type="text" name="" placeholder="页面名称" />
                <div class="controls">
                    <a href="#" class="button primary">更新</a>
                    <a href="#" class="button">取消</a>
                </div>
            </div>
        </div>
        <div class="layer-container">
            <a href="javascript:;" class="icons ico-close gray"></a>
            <h3>页面设备管理</h3>

            <div class="layer-wrapper">
                <div class="form">
                    <label>
                        <span>执行时间:</span>
                        <select class="w138">
                            <option>选择设备状态</option>
                            <option>选择设备状态</option>
                            <option>选择设备状态</option>
                            <option>选择设备状态</option>
                        </select>
                        <select class="w74">
                            <option>00</option>
                            <option>01</option>
                            <option>02</option>
                            <option>03</option>
                        </select>
                        <select class="w74">
                            <option>00</option>
                            <option>01</option>
                            <option>02</option>
                            <option>03</option>
                        </select>
                    </label>
                    <ul class="day-cont">
                        <li>1<i class="icons"></i></li>
                        <li>2<i class="icons checked"></i></li>
                        <li>3<i class="icons"></i></li>
                        <li>4<i class="icons"></i></li>
                        <li>5<i class="icons"></i></li>
                        <li>6<i class="icons"></i></li>
                        <li>7<i class="icons"></i></li>
                        <li>8<i class="icons"></i></li>
                        <li>9<i class="icons checked"></i></li>
                        <li>10<i class="icons"></i></li>
                        <li>11<i class="icons"></i></li>
                        <li>12<i class="icons"></i></li>
                        <li>13<i class="icons"></i></li>
                        <li>14<i class="icons"></i></li>
                        <li>15<i class="icons"></i></li>
                        <li>16<i class="icons"></i></li>
                        <li>17<i class="icons"></i></li>
                        <li>18<i class="icons"></i></li>
                        <li>19<i class="icons"></i></li>
                        <li>20<i class="icons"></i></li>
                        <li>21<i class="icons"></i></li>
                        <li>22<i class="icons"></i></li>
                        <li>23<i class="icons"></i></li>
                        <li>24<i class="icons"></i></li>
                        <li>25<i class="icons"></i></li>
                        <li>26<i class="icons"></i></li>
                        <li>27<i class="icons"></i></li>
                        <li>28<i class="icons"></i></li>
                        <li>29<i class="icons"></i></li>
                        <li>30<i class="icons"></i></li>
                        <li>31<i class="icons"></i></li>
                    </ul>
                    <label>
                        <span>执行结果:</span>
                        <select>
                            <option>选择设备状态</option>
                            <option>选择设备状态</option>
                            <option>选择设备状态</option>
                            <option>选择设备状态</option>
                        </select>
                    </label>
                    <label><span>选择设备:</span></label>
                    <div class="flex-cont">
                        <div class="scroller">
                            <ul>
                                <li tab-id=1><a href="#">1号网关</a></li>
                                <li tab-id=2><a href="#">1号网关</a></li>
                                <li tab-id=3><a href="#">1号网关</a></li>
                                <li tab-id=4><a href="#">1号网关</a></li>
                                <li tab-id=5><a href="#">1号网关</a></li>
                                <li tab-id=6><a href="#">1号网关</a></li>
                            </ul>
                        </div>
                        <div class="scroller tab-cont">
                            <ul tab-cont-id=1 style="display: block;">
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                            </ul>
                            <ul tab-cont-id=2>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                            </ul>
                            <ul tab-cont-id=3>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                            </ul>
                            <ul tab-cont-id=4>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                            </ul>
                            <ul tab-cont-id=5>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                            </ul>
                            <ul tab-cont-id=6>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                            </ul>
                            <ul tab-cont-id=7>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                                <li><label><input type="checkbox" name=""><span>温度</span></label></li>
                                <li><label><input type="checkbox" name=""><span>二氧化碳</span></label></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="controls">
                    <a href="#" class="button primary">更新</a>
                    <a href="#" class="button">取消</a>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="http://js.selfimg.com.cn/jquery/jquery-1.7.1.min.js"></script>
    <script type="text/javascript">
        $('.scroller').on('click','[tab-id]',function(){
            var tabid = $(this).attr('tab-id');
            $('.tab-cont [tab-cont-id="'+tabid+'"]').show().siblings().hide();
        })
    </script>
</body>
</html>
