<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
        
    <title>气象站</title>

    <meta name="Keywords" content="" />
    <meta name="Description" content="" />

</head>
<body>
    <div class="wrapper clearfix">
    	<div class="nav">
    		<div class="logo">
    			<img src="../images/logo.png" width="50" >
    			您好，张先生
    		</div>
    		<ul>
    			<li class="cur">
    				<a href="#">
    					<i class="icons ico-nav-1"></i>
    					农场介绍
    				</a>
    			</li>
    			<li>
    				<a href="#">
    					<i class="icons ico-nav-2"></i>
    					设备管理
    				</a>
    			</li>
    			<li>
    				<a href="#">
    					<i class="icons ico-nav-3"></i>
    					农事管理
    				</a>
    			</li>
    			<li>
    				<a href="#">
    					<i class="icons ico-nav-4"></i>
    					食品溯源
    				</a>
    			</li>
    		</ul>
    	</div>
    	<div class="right-cont">
    		<div class="top">
    			<h1>水润佳禾保定温室农场试验基地</h1>
    			<div class="menu">
    				<ul>
    					<li><a href="#" class="icons ico-home"></a></li>
    					<li><a href="#" class="icons ico-pwd"></a></li>
    					<li><a href="#" class="icons ico-quit"></a></li>
    				</ul>
    			</div>
    		</div>
    		<div class="main clearfix">
	    		<div class="msg">
	    			重要信息提示，一般不出来的!
	    			<a href="#" class="icons ico-close"></a>
	    		</div>
                <div class="crumbs">
                    <h2><i class="icons ico-dt"></i>大田一号管理</h2>
                    <ul>
                        <li><a href="#">墒情分析</a></li>
                        <li><span>/</span></li>
                        <li class="cur"><a href="#">数据统计</a></li>
                        <li><span>/</span></li>
                        <li><a href="#">设备记录</a></li>
                    </ul>
                </div>
	    		<div class="left w-half">
                    <div class="pannel">
    	    			<h2 class="nm">设备日志</h2>
                        <ul class="logs">
                            <li><h3>警告提醒 <em></em></h3><p>温室一号，温度低于36摄氏度，请及时控制温度处理。</p><p class="time">2015.10.29 18:10</p></li>
                            <li><h3>警告提醒</h3><p>温室一号，温度低于36摄氏度，请及时控制温度处理。请及时控制温度处理。</p><p class="time">2015.10.29 18:10</p></li>
                            <li><h3>警告提醒</h3><p>温室一号，温度低于36摄氏度，请及时控制温度处理。</p><p class="time">2015.10.29 18:10</p></li>
                            <li><h3>警告提醒</h3><p>温室一号，温度低于36摄氏度，请及时控制温度处理。</p><p class="time">2015.10.29 18:10</p></li>
                            <li><h3>警告提醒</h3><p>温室一号，温度低于36摄氏度，请及时控制温度处理。</p><p class="time">2015.10.29 18:10</p></li>
                            <li><h3>警告提醒</h3><p>温室一号，温度低于36摄氏度，请及时控制温度处理。</p><p class="time">2015.10.29 18:10</p></li>
                        </ul>
                    </div>
                    <div class="paging">
                        <a href="" class="prev"></a>
                        <em>1</em><span>/</span><span>10</span>
                        <a href="" class="next"></a>
                    </div>
	    		</div>
                <div class="right w-half">
                    <div class="pannel">
                        <h2 class="nm">设备清单</h2>
                        <ul class="grid">
                            <li class="th"><span>设备名称</span><span class="t-c">数量</span><span class="t-r">日期</span></li>
                            <li><span>通讯网关</span><span class="t-c">1</span><span class="t-r">15.10.10</span></li>
                            <li><span>通讯网关</span><span class="t-c">1</span><span class="t-r">15.10.10</span></li>
                            <li><span>通讯网关</span><span class="t-c">1</span><span class="t-r">15.10.10</span></li>
                            <li><span>通讯网关</span><span class="t-c">1</span><span class="t-r">15.10.10</span></li>
                            <li><span>通讯网关</span><span class="t-c">1</span><span class="t-r">15.10.10</span></li>
                        </ul>
                    </div>
                    <div class="pannel">
                        <h2>设备分布图纸</h2>
                        <img src="../images/tmp.jpg" width="100%" alt="">     
                    </div>
                </div>
    		</div>
    	</div>
    </div>

</body>
</html>
