<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
        
    <title>气象站</title>

    <meta name="Keywords" content="" />
    <meta name="Description" content="" />

</head>
<body>
    <div class="wrapper clearfix">
    	<div class="nav">
    		<div class="logo">
    			<img src="../images/logo.png" width="50" >
    			您好，张先生
    		</div>
    		<ul>
    			<li class="cur">
    				<a href="#">
    					<i class="icons ico-nav-1"></i>
    					农场介绍
    				</a>
    			</li>
    			<li>
    				<a href="#">
    					<i class="icons ico-nav-2"></i>
    					设备管理
    				</a>
    			</li>
    			<li>
    				<a href="#">
    					<i class="icons ico-nav-3"></i>
    					农事管理
    				</a>
    			</li>
    			<li>
    				<a href="#">
    					<i class="icons ico-nav-4"></i>
    					食品溯源
    				</a>
    			</li>
    		</ul>
    	</div>
    	<div class="right-cont">
    		<div class="top">
    			<h1>水润佳禾保定温室农场试验基地</h1>
    			<div class="menu">
    				<ul>
    					<li><a href="#" class="icons ico-home"></a></li>
    					<li><a href="#" class="icons ico-pwd"></a></li>
    					<li><a href="#" class="icons ico-quit"></a></li>
    				</ul>
    			</div>
    		</div>
    		<div class="main">
                <div class="crumbs">
                    <ul>
                        <li><a href="#">墒情分析</a></li>
                        <li><span>/</span></li>
                        <li class="cur"><a href="#">农作物图像采集</a></li>
                        <li><span>/</span></li>
                        <li><a href="#">数据统计</a></li>
                        <li><span>/</span></li>
                        <li><a href="#">设备记录</a></li>
                    </ul>
                </div>
	    		<div class="pannel">
                    <h2>&nbsp; <div class="right r-btns"><a href="#" class="btn">添加</a></div> </h2>
                    <div class="ul7">
                        <dl>
                            <dt>劳作图像</dt>
                            <dt>农事日期</dt>
                            <dt>劳作种类</dt>
                            <dt>劳作内容</dt>
                            <dt>劳作数据</dt>
                            <dt>操作地块</dt>
                            <dt>管理</dt>
                        </dl>
    	    			<dl>
                            <dd>
                                <img src="../images/tmp4.jpg" width="100%">
                            </dd>
                            <dd><p>15.10.10  13:33</p></dd>
                            <dd><p>施肥记录</p></dd>          
                            <dd><p>综合复合肥综合复合肥综合我最长综合复合肥综合复合肥综</p></dd>          
                            <dd><p>5000G/亩</p></dd>          
                            <dd><p>温室一号</p></dd>          
                            <dd><p><a href="#">修改</a><a href="#">删除</a></p></dd>          
                        </dl>
                        <dl>
                            <dd>
                                <img src="../images/tmp4.jpg" width="100%">
                            </dd>
                            <dd><p>15.10.10  13:33</p></dd>
                            <dd><p>施肥记录</p></dd>          
                            <dd><p>综合复合肥综合复合肥综合我最长综合复合肥综合复合肥综</p></dd>          
                            <dd><p>5000G/亩</p></dd>          
                            <dd><p>温室一号</p></dd>          
                            <dd><p><a href="#">修改</a><a href="#">删除</a></p></dd>          
                        </dl>
                        <dl>
                            <dd>
                                <img src="../images/tmp4.jpg" width="100%">
                            </dd>
                            <dd><p>15.10.10  13:33</p></dd>
                            <dd><p>施肥记录</p></dd>          
                            <dd><p>综合复合肥综合复合肥综合我最长综合复合肥综合复合肥综</p></dd>          
                            <dd><p>5000G/亩</p></dd>          
                            <dd><p>温室一号</p></dd>          
                            <dd><p><a href="#">修改</a><a href="#">删除</a></p></dd>          
                        </dl>
                        <dl>
                            <dd>
                                <img src="../images/tmp4.jpg" width="100%">
                            </dd>
                            <dd><p>15.10.10  13:33</p></dd>
                            <dd><p>施肥记录</p></dd>          
                            <dd><p>综合复合肥综合复合肥综合我最长综合复合肥综合复合肥综</p></dd>          
                            <dd><p>5000G/亩</p></dd>          
                            <dd><p>温室一号</p></dd>          
                            <dd><p><a href="#">修改</a><a href="#">删除</a></p></dd>          
                        </dl>
                        <dl>
                            <dd>
                                <img src="../images/tmp4.jpg" width="100%">
                            </dd>
                            <dd><p>15.10.10  13:33</p></dd>
                            <dd><p>施肥记录</p></dd>          
                            <dd><p>综合复合肥综合复合肥综合我最长综合复合肥综合复合肥综</p></dd>          
                            <dd><p>5000G/亩</p></dd>          
                            <dd><p>温室一号</p></dd>          
                            <dd><p><a href="#">修改</a><a href="#">删除</a></p></dd>          
                        </dl>
                    </div>
	    		</div>
                <div class="paging">
                    <a href="" class="prev"></a>
                    <em>1</em><span>/</span><span>10</span>
                    <a href="" class="next"></a>
                </div>
    		</div>
    	</div>
    </div>
    <div class="layer">
        <div class="layer-container">
            <a href="javascript:;" class="icons ico-close gray"></a>
            <h3>农场产品设置</h3>
            <div class="layer-wrapper">
                <div class="block">
                    <label><span>产品名称</span><input type="text" name="" placeholder="页面名称" /></label>
                    <label><span>产品名称</span><input type="text" name="" placeholder="页面名称" /></label>
                    <label><span>产品名称</span><input type="text" name="" placeholder="页面名称" /></label>
                    <label><span>产品名称</span><input type="text" name="" placeholder="页面名称" /></label>
                    <div class="form-group">
                        <span>产品名称</span>
                        <div class="imgbox">
                            <a class="upimg img500x500" ><img src="../images/one.png" width="100%" height="100%" /><i>500*500</i></a><a class="button">选择<input type="file" name=""></a>
                        </div>
                    </div>
                </div>
                <div class="controls">
                    <a href="#" class="button primary">更新</a>
                    <a href="#" class="button">取消</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
