<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
        
    <title>气象站</title>

    <meta name="Keywords" content="" />
    <meta name="Description" content="" />

</head>
<body>
    <div class="wrapper clearfix">
    	<div class="right-cont">
    		<div class="top">
    			<h1>热烈欢迎中国农业部部长参观指导</h1>
    		</div>
    		<div class="main">
                <div class="left w-half">
                    <div class="pannel">
                        <h2>今日数据趋势</h2>
                        <div class="box">
                            <img src="../images/charts1.jpg" width="100%">
                        </div>
                    </div>
                    <div class="pannel">
                        <h2>图像切换</h2>
                        <div class="box">
                            <div class="cam-list">
                                <div class="cam"><img src="../images/tmp3.jpg" width="100%"></div>
                            </div>
                            <div class="cam-tabs"><a href="#" class="cur" data-source="../images/tmp3.jpg">1号摄像头</a><a href="#" data-source="../images/tmp3.jpg">2号摄像头</a><a href="#" data-source="../images/tmp3.jpg">3号摄像头</a></div>
                        </div>
                    </div>
                    <div class="pannel">
                        <ul class="logs">
                            <li><h3 class="error">警告提醒</h3><p>温室一号，温度低于36摄氏度，请及时控制温度处理。</p><p class="time">2015.10.29 18:10</p></li>
                        </ul>
                    </div>
                </div>
                <div class="right w-half">
                    <div class="pannel">
                        <h2>实时数据监测</h2>
                        <div class="ul3">
                            <dl>
                                <dd class="controller"></dd>
                                <dt>链接</dt>
                                <dd class="tit">网关状态</dd>          
                            </dl>
                            <dl>
                                <dd class="controller"><em>正常</em><a href="#" class="icons ico-setting"></a></dd>
                                <dt>4.1</dt>
                                <dd class="tit">电源状态（V）</dd>          
                            </dl>
                            <dl>
                                <dd class="controller"><em>正常</em><a href="#" class="icons ico-setting"></a></dd>
                                <dt>85</dt>
                                <dd class="tit">湿度(%RH)</dd>          
                            </dl>
                            <dl>
                                <dd class="controller"><em class="error">下线超标</em><a href="#" class="icons ico-setting"></a></dd>
                                <dt>10284</dt>
                                <dd class="tit">光照(LUX)</dd>          
                            </dl>
                            <dl>
                                <dd class="controller"><em>正常</em><a href="#" class="icons ico-setting"></a></dd>
                                <dt>4.1</dt>
                                <dd class="tit">电源状态（V）</dd>          
                            </dl>
                            <dl>
                                <dd class="controller"><em>正常</em><a href="#" class="icons ico-setting"></a></dd>
                                <dt>4.1</dt>
                                <dd class="tit">电源状态（V）</dd>          
                            </dl>
                            <dl>
                                <dd class="controller"><em>正常</em><a href="#" class="icons ico-setting"></a></dd>
                                <dt>85</dt>
                                <dd class="tit">湿度(%RH)</dd>          
                            </dl>
                            <dl>
                                <dd class="controller"><em class="error">下线超标</em><a href="#" class="icons ico-setting"></a></dd>
                                <dt>10284</dt>
                                <dd class="tit">光照(LUX)</dd>          
                            </dl>
                            <dl>
                                <dd class="controller"><em>正常</em><a href="#" class="icons ico-setting"></a></dd>
                                <dt>4.1</dt>
                                <dd class="tit">电源状态（V）</dd>          
                            </dl>
                            <dl>
                                <dd class="controller"><em class="error">下线超标</em><a href="#" class="icons ico-setting"></a></dd>
                                <dt>10284</dt>
                                <dd class="tit">光照(LUX)</dd>          
                            </dl>
                            <dl>
                                <dd class="controller"><em>正常</em><a href="#" class="icons ico-setting"></a></dd>
                                <dt>4.1</dt>
                                <dd class="tit">电源状态（V）</dd>          
                            </dl>
                            <dl>
                                <dd class="controller"><em>正常</em><a href="#" class="icons ico-setting"></a></dd>
                                <dt>4.1</dt>
                                <dd class="tit">电源状态（V）</dd>          
                            </dl>
                        </div>
                    </div>
                </div>
    		</div>
    	</div>
    </div>

</body>
</html>
