<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
        
    <title>首页</title>

    <meta name="Keywords" content="" />
    <meta name="Description" content="" />

</head>
<body>
    <div class="header">
        <div class="wrapper">
            <a href="/" class="logo">
                <img src="../images/logo.png">
                <p>农小盒 <span>农作物生长检测与农产品溯源</span></p>
            </a>
            <ul class="nav">
                <li class="cur"><a href="#">首页</a></li>
                <li><a href="#">农小盒日志</a></li>
                <li><a href="#">联系我们</a></li>
            </ul>
        </div>
    </div>
    <div class="wrapper">
        <a href="#" class="card">
            <img src="../images/banner1.jpg" width="100%">
            <p>德国最让人不解的是什么？</p>
        </a>
        <a href="#" class="card">
            <img src="../images/banner1.jpg" width="100%">
            <p>首次见面，看到对方使用什么物品你会觉得眼前一亮，让你觉得很有好感？</p>
        </a>
        <a href="#" class="card">
            <img src="../images/banner1.jpg" width="100%">
            <p>德国最让人不解的是什么？</p>
        </a>
        <a href="#" class="card">
            <img src="../images/banner1.jpg" width="100%">
            <p>首次见面，看到对方使用什么物品你会觉得眼前一亮，让你觉得很有好感？</p>
        </a>
    </div>
    <div class="footer">
        <div class="wrapper">
            <p><a href="">京ICP备12045252号-2</a></p>
        </div>
    </div>

</body>
</html>
