@import './vars';
html,body{
	position: relative;
	height: 100%;
}

a:hover{
	text-decoration: none;
}

.wrapper {
	position: relative;
    width: $width;
    margin: 0 auto;
}

.wrapper-100 {
    width: 100%;
    position: relative;
}

.w-half{
	width: 49%;
}

.left{
	float: left;
}
.right{
	float: right;
}

.icons {
    background: url(../images/icons.png) no-repeat;
    background-size: $ico-bg-w/2 $ico-bg-h/2;
    display: inline-block;
    width: 28px;
    height: 28px;
    &.ico-nav-2{
    	background-position: 0 -40px; 
    }
    &.ico-nav-3{
    	background-position: 0 -80px; 
    }
    &.ico-nav-4{
    	background-position: 0 -120px; 
    }
    &.ico-play{
    	position: absolute;
    	left: 50%;
    	top: 50%;
    	margin: -20px 0 0 -20px;
    	width: 40px;
    	height: 40px;
    	background-position: 0 -240px;
    }
    &.ico-cam{
    	width: 24px;
    	height: 30px;
    	background-position: -40px -200px;
    }
    &.ico-cj{
		background-position: -80px 0;
	}
	&.ico-kz{
		background-position: -80px -40px;
	}
	&.ico-syt{
		background-position: -80px -80px;
	}
	&.ico-pl{
		background-position: -80px -120px;
	}
	&.ico-dpm{
		background-position: -80px -160px;
	}
	&.ico-fz{
		background-position: -80px -200px;
	}
	&.ico-zn{
		background-position: -80px -240px;
	}
	&.ico-home{
		background-position: -40px 0;
	}
	&.ico-pwd{
		background-position: -40px -40px;
	}
	&.ico-quit{
		background-position: -40px -80px;
	}
	&.ico-dt{
		background-position: 0 -200px;
	}
	&.ico-wg{
		background-position: 0 -160px;
	}
	&.ico-setting{
		background-position: -40px -160px;
	}
}
.btn-switch{
	position: relative;
	height: 25px;
	border:1px solid #e5e5e5;
	display: inline-block;
	width: 53px;
	background-color: #fff;
	border-radius: 25px;
	& i{
		position: absolute;
		width: 25px;
		height: 25px;
		border:1px solid #e5e5e5;
		border-radius: 25px;
		box-sizing: border-box;
		background-color: #fff;
		left: 0px;
		top: 0px;
		box-shadow: 0 0 5px #e5e5e5;
	}
	&.open{
		background: #1fb922;
		& i{
			right: 0;
			left: auto;
			box-shadow: none;
			border-color: #1fb922;
		}
	}
}

.h100{
	height: 100%;
}

.nav{
	background: #247ed0;
    width: 100px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
	& .logo{
		height: 103px;
		text-align: center;
		color: #fff;
		font-size: 12px;
		img{
			display: block;
			margin: 25px auto 12px;
		}
	}
	& li{
		text-align: center;
		box-sizing: border-box;
		& .icons{
			display: block;
			margin: 0 auto 10px;
		}
		& a{
			display: block;
			height: 87px;
			box-sizing: border-box;	
			padding-top: 16px;
			color: #fff;
			font-size: 14px;
			border-left: 3px solid transparent;
			&:hover{
				background-color:#146fc2;
				border-left: 3px solid #004176;
			}
		}
		&.cur a{
			background-color:#146fc2;
			border-left: 3px solid #004176;
		}
	}
}
.right-cont{
	margin-left: 100px;
	background-color: #f3f3f3;
	min-height: 100%;
	& .top{
		position: relative;
		height: 60px;
		background: #fff;
		& h1{
			font-size: 18px;
			color: #222;
			line-height: 60px;
			padding-left: 21px;
		}
		& .menu{
			position: absolute;
			right: 0;
			top: 0;
			& li{
				width: 66px;
				line-height: 60px;
				display: inline-block;
				text-align: center;
				& .icons{
					width: 18px;
					height: 18px;
					
				}
			}
		}
	}
	& .main{
		padding: 20px;
		& .msg{
			background: #fff4e8;
			line-height: 40px;
			border: 1px solid #fdc8b4;
			border-radius: 5px;
			margin: 0 auto 22px;
			color: #f06c6c;
			text-indent: 18px;
			position: relative;
			& .ico-close{
				position: absolute;
				width: 10px;
				height: 10px;
				background-position: -40px -120px;
				right: 18px;
				top: 15px;
			}
		}
		& .crumbs{
			padding-bottom: 20px;
			overflow: hidden;
			& h2{
				float: left;
				line-height: 1em;
				& .icons{
					width: 38px;
					height: 38px;
					vertical-align: middle;
					margin-right: 10px;
					color: #2e3254;
					font-size: 18px;
					
				}
			}
			& ul{
				display: inline-block;
				float: right;
				& li{
					display: inline-block;
					margin: 0 10px;
					line-height: 38px;
					& a{
						color: #2e3254;
						display: block;
					}
					&.cur a{
						color: #49a0ff;
						border-bottom: 2px solid #49a0ff;
					}
				}
			}
		}
		& .pannel{
			border: 1px solid #dfdfdf;
			border-radius: 5px;
			padding: 10px 18px;
			background: #fff;
			margin-bottom: 18px;
			clear: both;
			& h2,& form,& .tab{
				font-size: 16px;
				line-height: 47px;
				border-bottom: 1px solid #dfdfdf;
				color: #666666;
				margin-bottom: 18px;
				&.nm{
					margin-bottom: 0;
				}
			}
			& form{
				padding-bottom: 10px;
				& select,& input,& option{
					height: 34px;
					font-size: 12px;
					color: #727a93;
					padding: 0 12px;
					line-height: 34px;
					box-sizing: border-box;
    				vertical-align: middle;
    				border-radius: 5px;
    				border: 1px solid rgb(169, 169, 169);
    				margin: 0 5px;
    				&[type="text"]{
    					width: 85px;
    				}
    				&[type="button"]{
    					background: #fff;
    					color: #49a0ff;
    					outline: none;
    				}
				}
			}
			& .tab{
				&>*{
					display: inline-block;
					color: #2e3254;
					text-align: center;
					margin-right: 30px;
					padding-top: 10px;
					& span{
						display: block;
						line-height: 1;
					}
				}
			}
			.box{
				position: relative;
			}
			& .ul1{
				display: flex;
				overflow: hidden \9;
				& li{
					flex: 1;
					float: left \9;
					width: 100/7 +% \9;
					text-align: center;
					&:hover{
						background:#fafafa;
					}
					& a{
						color: #333;
						display: block;
						padding: 30px 0;
					}
					& .icons{
						display: block;
						width: 32px;
						height: 32px;
						margin: 0 auto;
						
					}
				}
			}
			& .ul2{
				display: flex;
				overflow: hidden \9;
				& li{
					flex: 1;
					float: left \9;
					width: 191px \9;
					box-sizing: border-box;
    				margin: 0 10px 0;
					& a{
						color: #333;
						display: block;
						padding: 30px 0;
						text-align: center;
						background:#fafafa;
						& .icons{
							width: 30px;
							height: 27px;
							margin-right: 28px;
							vertical-align: middle;
							
						}
					}
				}
			}
			& .ul3{
				overflow: hidden;
				& dl{
					display: block;
					float: left;
					width: 148px;
					background: #f8f9fa;
					border-radius: 10px;
					text-align: center;
					padding: 15px 0;
					margin: 0 (846 - 148*5)/10 +px (846 - 148*5)/5 +px;
					& dt{
						font-size: 29px;
						line-height: 61px;
					}
					& .controller{
						height: 20px;
						line-height: 20px;
						text-align: right;
						& em{
							display: inline-block;
							vertical-align: middle;
							margin-right: 10px;
							line-height: 20px;
							border-radius: 20px;
							padding:0 10px;
							font-size: 12px;
							height: 20px;
							background: #def8e1;
							color: #00a853;
							&.error{
								background: #fce4e8;
								color: #ec5472;
							}
						}
						& .icons{
							height: 19px;
							width: 19px;
							vertical-align: middle;
							margin-right: 10px;
							
						}
					}
					& .tit{
						line-height: 24px;
						color: #2e3254;
						font-size: 14px;
					}
				}
			}
			& .ul4{
				overflow: hidden;
				& li{
					width: 268px;
					margin:0 (846 - 268*3)/2+px 7px 0;
					float: left;
					&:nth-child(3n){
						margin-right: 0;
					}
					& h3{
						color: #2e3254;
						font-weight: normal;
						line-height: 36px;
						& span{
							color: #727a93;
							font-size: 12px;
							margin-left: 10px;
						}
					}
				}
			}
		}
	}
}

.paging{
	height: 20px;
	text-align: center;
	padding: 0 0 10px;
	clear: both;
	& *{
		display: inline-block;
		vertical-align: middle;
		margin: 0 3px;
	}
	& em{
		color: $bcolor;
	}
	& a{
		background:url(../images/page.png) no-repeat;
		width: 20px;
		height: 20px;
		background-size: auto 45px;

		&.next{
			background-position: top right;
		}
		&:hover{
			background-position-y:bottom;
		}
	}
}