@import './vars';
html,body{
	position: relative;
	height: 100%;
}

a:hover{
	text-decoration: none;
}

.wrapper {
	position: relative;
    width: $width;
    margin: 0 auto;
}

.wrapper-100 {
    width: 100%;
    position: relative;
}

.w-half{
	width: 49%;
}

.left{
	float: left;
}
.right{
	float: right;
}

.icons {
    background: url(../images/icons.png) no-repeat;
    background-size: $ico-bg-w/2 $ico-bg-h/2;
    display: inline-block;
    width: 28px;
    height: 28px;
    &.ico-nav-2{
    	background-position: 0 -40px; 
    }
    &.ico-nav-3{
    	background-position: 0 -80px; 
    }
    &.ico-nav-4{
    	background-position: 0 -120px; 
    }
    &.ico-play{
    	position: absolute;
    	left: 50%;
    	top: 50%;
    	margin: -20px 0 0 -20px;
    	width: 40px;
    	height: 40px;
    	background-position: 0 -240px;
    }
    &.ico-cam{
    	width: 24px;
    	height: 30px;
    	background-position: -40px -200px;
    }
    &.ico-cj{
		background-position: -80px 0;
	}
	&.ico-kz{
		background-position: -80px -40px;
	}
	&.ico-syt{
		background-position: -80px -80px;
	}
	&.ico-pl{
		background-position: -80px -120px;
	}
	&.ico-dpm{
		background-position: -80px -160px;
	}
	&.ico-fz{
		background-position: -80px -200px;
	}
	&.ico-zn{
		background-position: -80px -240px;
	}
	&.ico-home{
		background-position: -40px 0;
	}
	&.ico-msg{
		background-position: -131px -89px;
	}
	&.ico-pwd{
		background-position: -40px -40px;
	}
	&.ico-quit{
		background-position: -40px -80px;
	}
	&.ico-dt{
		background-position: 0 -200px;
	}
	&.ico-wg{
		background-position: 0 -160px;
	}
	&.ico-setting{
		background-position: -40px -160px;
	}
	&.ico-add{
		background-position: -130px -49px;
	}
	&.ico-close-min{
		width: 18px;
		height: 18px;
		background-position: -50px -250px;
	}
	&.ico-close{
		position: absolute;
		width: 10px;
		height: 10px;
		background-position: -40px -120px;
		right: 18px;
		top: 15px;
		&.gray{
			width: 13px;
			height: 13px;
			background-position: -40px -140px;
		}
	}
}
.btn{
	background: #4090db;
	line-height: 25px;
	color: #fff;
	font-size: 12px;
	padding: 0 10px;
	display: inline-block;
	border-radius: 25px;
}
.btn-switch{
	position: relative;
	height: 25px;
	border:1px solid #e5e5e5;
	display: inline-block;
	width: 53px;
	background-color: #fff;
	border-radius: 25px;
	& i{
		position: absolute;
		width: 25px;
		height: 25px;
		border:1px solid #e5e5e5;
		border-radius: 25px;
		box-sizing: border-box;
		background-color: #fff;
		left: 0px;
		top: 0px;
		box-shadow: 0 0 5px #e5e5e5;
	}
	&.open{
		background: #1fb922;
		& i{
			right: 0;
			left: auto;
			box-shadow: none;
			border-color: #1fb922;
		}
	}
	&.disabled{
		background: #dfdfdf;
		& i{
			box-shadow: none;
			border-color: #dfdfdf;
			background-color: #f2f2f2;
		}
	}
	&.loading{
		& i{
			background-image: url(../images/loading.gif);
			background-position: center center;
			background-repeat: no-repeat;
			background-size: 15px 15px;
		}
	}
}

.h100{
	height: 100%;
}

.nav{
	background: #247ed0;
    width: 100px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
	& .logo{
		height: 103px;
		text-align: center;
		color: #fff;
		font-size: 12px;
		img{
			display: block;
			margin: 25px auto 12px;
		}
	}
	& li{
		text-align: center;
		box-sizing: border-box;
		& .icons{
			display: block;
			margin: 0 auto 10px;
		}
		& a{
			display: block;
			height: 87px;
			box-sizing: border-box;	
			padding-top: 16px;
			color: #fff;
			font-size: 14px;
			border-left: 3px solid transparent;
			&:hover{
				background-color:#146fc2;
				border-left: 3px solid #004176;
			}
		}
		&.cur a{
			background-color:#146fc2;
			border-left: 3px solid #004176;
		}
	}
}
.right-cont{
	margin-left: 100px;
	background-color: #f3f3f3;
	min-height: 100%;
	& .top{
		position: relative;
		height: 60px;
		background: #fff;
		& h1{
			font-size: 18px;
			color: #222;
			line-height: 60px;
			padding-left: 21px;
		}
		& .menu{
			position: absolute;
			right: 0;
			top: 0;
			& li{
				width: 66px;
				line-height: 60px;
				display: inline-block;
				text-align: center;
				& .icons{
					width: 18px;
					height: 18px;
					position: relative;
					i{
						position: absolute;
						background-color: #fb253a;
						width: 20px;
						height: 20px;
						text-align: center;
						line-height: 20px;
						border-radius: 20px;
						font-size: 8px;
						color: #fff;
						top: -10px;
						right: -18px;
					}
				}
			}
		}
	}
	& .main{
		padding: 20px;
		& .msg{
			background: #fff4e8;
			line-height: 40px;
			border: 1px solid #fdc8b4;
			border-radius: 5px;
			margin: 0 auto 22px;
			color: #f06c6c;
			text-indent: 18px;
			position: relative;
			
		}
		& .crumbs{
			padding-bottom: 20px;
			overflow: hidden;
			& h2{
				float: left;
				line-height: 1em;
				& .icons{
					width: 38px;
					height: 38px;
					vertical-align: middle;
					margin-right: 10px;
					color: #2e3254;
					font-size: 18px;
					
				}
			}
			& ul{
				display: inline-block;
				float: right;
				& li{
					display: inline-block;
					margin: 0 10px;
					line-height: 38px;
					& a{
						color: #2e3254;
						display: block;
					}
					&.cur a{
						color: #49a0ff;
						border-bottom: 2px solid #49a0ff;
					}
				}
			}
		}
		& .pannel{
			border: 1px solid #dfdfdf;
			border-radius: 5px;
			padding: 10px 18px;
			background: #fff;
			margin-bottom: 18px;
			clear: both;
			& h2,& form,& .tab{
				font-size: 16px;
				line-height: 47px;
				border-bottom: 1px solid #dfdfdf;
				color: #666666;
				margin-bottom: 18px;
				&.nm{
					margin-bottom: 0;
				}
			}
			& form{
				padding-bottom: 10px;
				& select,& input,& option{
					height: 34px;
					font-size: 12px;
					color: #727a93;
					padding: 0 12px;
					line-height: 34px;
					box-sizing: border-box;
    				vertical-align: middle;
    				border-radius: 5px;
    				border: 1px solid rgb(169, 169, 169);
    				margin: 0 5px;
    				&[type="text"]{
    					width: 85px;
    				}
    				&[type="button"]{
    					background: #fff;
    					color: #49a0ff;
    					outline: none;
    				}
				}
			}
			& .formset{
				padding-top: 20px;
				font-size: 14px;
				border-bottom: none;
				& .form-group{
					display: block;
					width: 60%;
					margin: 0 auto;
					text-align: center;
					&>*{
						display: inline-block;
						margin-right: 10px;
						vertical-align: middle;
					}
					&>span{
						width: 20%;
					}
					& input,& select,& .imgbox,& .formbox{
						width: 250px;
						border-color: #d2d2d2;
						background: #fff;
						&.half{
							width: 100px;
						}
					}
					& .imgbox{
						vertical-align: text-top;
						padding-bottom: 18px;
						text-align: left;
						width: 75%;
					}
					& .formbox{
						text-align: left;
						width: 75%;
						& input{
							margin-left: 3px;
						}
						&.step-cont{
							border: 1px solid #dddddd;
							padding: 15px;
							box-sizing: border-box;
							margin: 8px 0;
							& .step-group{
								border-bottom: 1px solid #ddd;
								padding: 15px 0;
								&:first-child{
									padding-top:0;
								}
								&:last-child{
									border-bottom: 0;
								}
								p,img,a{
									display: inline-block;
									vertical-align: middle;
									margin-left: 3px;
								}
								& .del{
									color: #ec033a;
								}
							}
						}
						& .flex-cont{
							display: flex;
							margin: 8px 0;
							& .scroller{
								width: 257px;
								background: #fff;
								height: 282px;
								overflow: scroll;
								margin-right: 20px;
								border: 1px solid #dddddd;
								margin-left: 3px;
								border-radius: 5px;
								&.tab-cont{
									& ul{
										display: none;
									}
								}
								&:last-child{
									margin-right:0;
								}
								& li{
									height: 28px;
									line-height: 28px;
									&:hover,&.selected{
										background:#f4f9ff;
									}
									& a{
										display: block;
										color: #2e3254;
										padding: 0 15px;
										&:after{
											content: ">";
											float: right;
											color: #999999;
										}
									}
									& label{
										padding: 0 15px;
										&>*{
											display: inline-block;
										}
										& input[type="checkbox"]{
											width: 14px;
											height: 14px;
											vertical-align: middle;
											padding: 0;
											margin: 0 10px 0 0;
										}
									}
								}
							}
						}
					}
					& .upimg{
						display: inline-block;
						border: 1px dashed #d2d2d2;
						border-radius: 5px;
						background: url(../images/imgadd.png) no-repeat center center;
						background-size: 18px 18px;
						position: relative;
						&.img1000x500{
							width: 150px;
							height: 75px;
						}
						&.img500x500{
							width: 75px;
							height: 75px;
						}
						& i{
							line-height: 20px;
							position: absolute;
							width: 100%;
							text-align: center;
							left: 0;
							bottom: -25px;
							line-height: 20px;
							color: #727a93;
						}
					}
					& .button{
						position: relative;
						display: inline-block;
						width: 72px;
						height: 30px;
						border:1px solid #d2d2d2;
						border-radius: 5px;
						text-align: center;
						color: #49a0ff;
						line-height: 30px;
						font-weight: normal;
						overflow: hidden;
						margin-left: 19px;
						& input{
							position: absolute;
							width: 100%;
							height: 100%;
							top: 0;
							left: 0;
							opacity: 0;
						}
						&.primary{
							color: #fff;
							background-color: #49a0ff;
							border-color: #49a0ff;
						}
						&.big{
							width: 110px;
							margin: 30px auto 20px;
						}
					}
				}
			}
			& .tab{
				&>*{
					display: inline-block;
					color: #2e3254;
					text-align: center;
					margin-right: 30px;
					padding-top: 10px;
					& span{
						display: block;
						line-height: 1;
					}
				}
			}
			.box{
				position: relative;
			}
			& .r-btns{
				& .icons{
					vertical-align: middle;
					line-height: 22px;
					width: 19px;
					height: 19px;
					margin-right: 12px;
				}
				& .btn{
					vertical-align: middle;
				}
				& .link{
					color: #727a93;
					margin-right: 12px;
					&.primary{
						color: #4090db;
					}
					&.error{
						color: #ec6c67;
					}
					&.success{
						color: #27c289;
					}
				}
				&.inline{
					display: inline-block;
					vertical-align: middle;
				}
			}
			& .ul1{
				display: flex;
				overflow: hidden \9;
				& li{
					flex: 1;
					float: left \9;
					width: 100/7 +% \9;
					text-align: center;
					&:hover{
						background:#fafafa;
					}
					& a{
						color: #333;
						display: block;
						padding: 30px 0;
					}
					& .icons{
						display: block;
						width: 32px;
						height: 32px;
						margin: 0 auto;
						
					}
				}
			}
			& .ul2{
				display: flex;
				& li{
					flex: 1;
					box-sizing: border-box;
    				margin: 0 10px 0;
					& a{
						color: #333;
						display: block;
						padding: 30px 0;
						text-align: center;
						background:#fafafa;
						& .icons{
							width: 30px;
							height: 27px;
							margin-right: 28px;
							vertical-align: middle;
						}
					}
				}
			}
			& .ul3{
				overflow: hidden;
				& dl{
					display: block;
					float: left;
					width: 148px;
					background: #f8f9fa;
					border-radius: 10px;
					text-align: center;
					padding: 15px 0;
					margin: 0 (846 - 148*5)/10 +px (846 - 148*5)/5 +px;
					& dt{
						font-size: 29px;
						line-height: 61px;
						
					}
					& .controller{
						height: 20px;
						line-height: 20px;
						text-align: right;
						& em{
							display: inline-block;
							vertical-align: middle;
							margin-right: 10px;
							line-height: 20px;
							border-radius: 20px;
							padding:0 10px;
							font-size: 12px;
							height: 20px;
							background: #def8e1;
							color: #00a853;
							&.error{
								background: #fce4e8;
								color: #ec5472;
							}
						}
						& .icons{
							height: 19px;
							width: 19px;
							vertical-align: middle;
							margin-right: 10px;
							
						}
					}
					& .tit{
						line-height: 24px;
						height: 48px;
						color: #2e3254;
						font-size: 14px;
					}
				}
			}
			& .ul4{
				overflow: hidden;
				display: flex;
				flex-wrap: wrap;
				& li{
					width: 32%;
					margin:0 2% 7px 0;
					float: left;
					&:nth-child(3n){
						margin-right: 0;
					}
					& h3{
						color: #2e3254;
						font-weight: normal;
						line-height: 36px;
						& span{
							color: #727a93;
							font-size: 12px;
							margin-left: 10px;
						}
					}
				}
				@media screen and (min-width: 1400px){
					& li{
						width: 23.5%;
						margin:0 2% 7px 0;
						&:nth-child(3n){
							margin-right: 2%;
						}
						&:nth-child(4n){
							margin-right: 0;
						}
					}
				}
			}
			& .ul5{
				& dl{
					border-bottom: 1px solid #f3f3f3;
					padding: 13px 0;
					&:last-child{
						border-bottom:none;
					}
				}
				& dt{
					color: #2e3254;
					line-height: 22px;
					margin: 8px 0 16px;
					& .gray{
						color: #727a93;
					}

				}
				& dd{
					display: inline-block;
					font-size: 12px;
					color: #727a93;
					line-height: 33px;
					background: #f5f5f7;
					border-radius: 5px;
					padding: 0 15px;
					margin: 0 8px 8px 0;
				}
				& dt,& dd{
					& span{
						display: inline-block;
						vertical-align: middle;
					}
					& .icons{
						vertical-align: middle;
						width: 19px;
						height: 19px;
						margin-left: 5px;
					}
				}
			}
			& .ul6{
				&.mt10{
					margin-top: 10px;
				}
				& dl{
					border-bottom: 1px solid #f3f3f3;
					padding: 20px 0 10px;
					&:last-child{
						border-bottom:none;
					}
					&:first-child{
						padding-top: 2px;
					}
					& dt{
						width: 85px;
						float: left;
						img{
							display: block;
						}
					}
					& dd{
						margin-left: 100px;
						margin-bottom: 10px;
						line-height: 14px;
						color: #727a93;
						&.tit{
							color: #2e3254;
							& p{
								float: right;
								a{
									color: #4090db;
									display: inline-block;
									margin-right: 12px;
								}
							}
						}
						& label{
							color: #2e3254;
						}
						&.ml0{
							margin-left: 0;
						}
					}
				}
			}
			& .ul7{
				& dl{
					display: flex;
					border-bottom: 1px solid #f2f2f2;
					&>*{
						color: #727a93;
						flex: 1;
						& img{
							width: 100px;
							display: block;
						}
					}
					& dd:nth-child(4),& dt:nth-child(4){
						flex: 3;
					}
					& dt{
						padding: 0 0 18px 0;
					}
					& dd{
						padding: 15px 0;
						position: relative;
						& p{
							position: absolute;
							top: 50%;
							transform: translateY(-50%);
							& a{
								display: inline-block;
								color: #4090db;
								margin: 0 8px;
							}
						}
					}
					&:last-child{
						border-bottom: none;
					}
				}

			}
		}
	}
}

.layer{
	position: fixed;
	background: rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	& .layer-container{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate3d(-50%,-50%,0);
		background: #f2f2f2;
		border-radius: 5px;
		& .layer-wrapper{
			padding: 0 20px;
			& input, select{
				width: 304px;
				height: 38px;
				font-size: 14px;
				line-height: 38px;
				background: #fff;
				margin: 8px 0;
				padding: 0 1em;
				box-sizing: border-box;
				&.w138{
					width: 138px;
				}
				&.w74{
					width: 74px;
				}
			}
			& .controls{
				text-align: center;
				margin: 0 0 20px 0;
				& .button{
					display: inline-block;
					width: 110px;
					height: 38px;
					font-size: 14px;
					line-height: 38px;
					border:1px solid #aeaeae;
					border-radius: 5px;
					text-align: center;
					color: #666;
					margin: 0 10px;
					&.primary{
						color: #fff;
						background-color: #49a0ff;
						border-color: #49a0ff;
					}
				}
			}
			& .form{
				padding-top: 20px;
				& label,& .label{
					display: block;
					&>*{
						display: inline-block;
						margin-right: 10px;
						vertical-align: middle;
					}
				}
				& .day-cont{
					display: inline-block;
					border-top: 1px solid #666666;
					border-left: 1px solid #666666;
					overflow: hidden;
					max-width: 507px;
					& li{
						position: relative;
						float: left;
						width: 38px;
						height: 38px;
						line-height: 38px;
						text-align: center;
						border-right: 1px solid #666666;
						border-bottom: 1px solid #666666;
						cursor: pointer;
						& .icons{
							position:absolute;
							width: 21px;
							height: 21px;
							right: 0;
							bottom: 0;
							background-position: -120px 0;
							display: none;
							&.checked{
								display: block;
							}
						}
					}
				}
				& .flex-cont{
					padding: 10px 0 20px 0;
					display: flex;
				}
				& .scroller{
					width: 257px;
					background: #fff;
					height: 282px;
					overflow: scroll;
					margin-right: 20px;
					&.tab-cont{
						& ul{
							display: none;
						}
					}
					&:last-child{
						margin-right:0;
					}
					& li{
						height: 28px;
						line-height: 28px;
						& a{
							display: block;
							color: #2e3254;
							padding: 0 15px;
							&:hover,.selected{
								background:#f4f9ff;
							}
							&:after{
								content: ">";
								float: right;
								color: #999999;
							}
						}
						& label{
							padding: 0 15px;
							&>*{
								display: inline-block;
							}
							& input[type="checkbox"]{
								width: 14px;
								height: 14px;
								vertical-align: middle;
								padding: 0;
								margin: 0 10px 0 0;
							}
						}
					}
				}
			}
			& .block{
				padding: 20px 50px;
				label{
					display: block;
					color: #2e3254;

					& span{
						display: inline-block;
						margin-right: 20px;
						text-align: right;
					}
				}
				& .form-group{
					display: block;
					margin: 0 auto;
					text-align: center;
					&>*{
						display: inline-block;
						margin-right: 10px;
						vertical-align: middle;
					}
					& .imgbox{
						width: 304px;
					    border-color: #d2d2d2;
					    vertical-align: text-top;
					    padding-bottom: 18px;
					    text-align: left;
					    margin: 0 8px;
					}
					& .upimg{
						display: inline-block;
						border: 1px dashed #d2d2d2;
						border-radius: 5px;
						background: url(../images/imgadd.png) no-repeat center center;
						background-size: 18px 18px;
						position: relative;
						&.img500x500{
							width: 75px;
							height: 75px;
						}
						& i{
							line-height: 20px;
							position: absolute;
							width: 100%;
							text-align: center;
							left: 0;
							bottom: -25px;
							line-height: 20px;
							color: #727a93;
						}
					}

					& .button{
						position: relative;
						display: inline-block;
						width: 72px;
						height: 30px;
						border:1px solid #d2d2d2;
						border-radius: 5px;
						text-align: center;
						color: #49a0ff;
						line-height: 30px;
						font-weight: normal;
						overflow: hidden;
						margin-left: 19px;
						& input{
							position: absolute;
							width: 100%;
							height: 100%;
							top: 0;
							left: 0;
							opacity: 0;
						}
						&.primary{
							color: #fff;
							background-color: #49a0ff;
							border-color: #49a0ff;
						}
						&.big{
							width: 110px;
							margin: 30px auto 20px;
						}
					}
				}
			}
		}
		& h3{
			padding: 0 20px;
			line-height: 45px;
			font-size: 18px;
			color: #2e3254;
			border-bottom: 1px solid #e6e6e6;
		}
	}
}

.paging{
	height: 20px;
	text-align: center;
	padding: 0 0 10px;
	clear: both;
	& *{
		display: inline-block;
		vertical-align: middle;
		margin: 0 3px;
	}
	& em{
		color: $bcolor;
	}
	& a{
		background:url(../images/page.png) no-repeat;
		width: 20px;
		height: 20px;
		background-size: auto 45px;

		&.next{
			background-position: top right;
		}
		&:hover{
			background-position-y:bottom;
		}
	}
}