<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
        
    <title>首页</title>

    <meta name="Keywords" content="" />
    <meta name="Description" content="" />

</head>
<body>
    <div class="header">
    	<div class="wrapper">
        	<a href="/" class="logo"><img src="../images/logo.png" width="154"></a>
        	<ul class="nav">
        		<li class="cur"><a href="#">新农宝盒首页</a></li>
        		<li><a href="#">灌溉商城</a></li>
        		<li><a href="#">帮助中心</a></li>
        		<li><a href="#" id="login">登录管理</a></li>
        	</ul>
        </div>
    </div>
    <div class="wrapper-100 color-1">
        <div class="wrapper">
            <div class="banner">
                <img src="../images/banner1.jpg" width="100%">
                <span>帮助中心</span>
            </div>
            <div class="content">
                <div class="menu">
                    <h3>常见问题目录</h3>
                    <ul>
                        <li><a href="">热门问题</a></li>
                        <li><a href="">最新问题</a></li>
                        <li><a href="">销售帮助</a></li>
                        <li><a href="">其他帮助</a></li>
                    </ul>
                </div>
                <div class="detail">
                    <h1>这里可以是多长的标题都可以的然后下面都是</h1>
                    <p>呼叫中心支持选择通过手机作为接听呼入的终端。操作路径：登录超管或管理员账号---客服模式---呼叫中心---呼叫转移设置--选择开启--输入被转移的手机号码此手机号码无运营商限制，可以是移动、联通、电信。完成手机号码设定后，可通过切换在线方式为手机在线，将电话服务转移至设定手机；若希望停止手机在线状态，切换到停用即可。</p>
                    <h3>这里是小标题</h3>
                    <p>呼叫中心支持选择通过手机作为接听呼入的终端。操作路径：登录超管或管理员账号---客服模式---呼叫中心---呼叫转移设置--选择开启--输入被转移的手机号码此手机号码无运营商限制，可以是移动、联通、电信。完成手机号码设定后，可通过切换在线方式为手机在线，将电话服务转移至设定手机；若希望停止手机在线状态，切换到停用即可。</p>
                    <img src="../images/tmp1.jpg" width="100%">
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
    	<div class="wrapper">
    		<ul>
    			<li><a href="">合作伙伴</a></li>
    			<li><a href="">免责声明</a></li>
    			<li><a href="">联系我们</a></li>
    			<li><a href="">帮助文档</a></li>
    			<li><a href="">团队介绍</a></li>
    		</ul>
    		<p><a href="">京ICP备12045252号-2</a><a href="tel://18701029660">联系电话：18701029660</a></p>
    	</div>
    </div>

</body>
</html>
