<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
        
    <title>首页</title>

    <meta name="Keywords" content="GQ男士网,GQ杂志" />
    <meta name="Description" content="" />

</head>
<body>
    <div class="header">
    	<div class="wrapper">
        	<a href="/" class="logo"><img src="../images/logo.png" width="154"></a>
        	<ul class="nav">
        		<li class="cur"><a href="#">新农宝盒首页</a></li>
        		<li><a href="#">灌溉商城</a></li>
        		<li><a href="#">帮助中心</a></li>
        		<li><a href="#" id="login">登录管理</a></li>
        	</ul>
        </div>
    </div>
    <div class="wrapper">
        <div class="banner swiper-container">
	        <div class="swiper-wrapper">
	            <div class="swiper-slide"><img src="../images/banner.jpg" width="100%"></div>
	            <div class="swiper-slide"><img src="../images/banner.jpg" width="100%"></div>
	            <div class="swiper-slide"><img src="../images/banner.jpg" width="100%"></div>
	        </div>
	        <div class="swiper-pagination"></div>
	    </div>
	    <div class="block strengths">
	    	<h2 class="block-title">系统优势</h2>
	    	<ul>
	    		<li><a href="#"><img src="../images/tmp.jpg" width="100%"><p>智能温室管控方案</p></a></li>
	    		<li><a href="#"><img src="../images/tmp.jpg" width="100%"><p>远程智能阀门管控方案</p></a></li>
	    		<li><a href="#"><img src="../images/tmp.jpg" width="100%"><p>智能温室管控方案</p></a></li>
	    		<li><a href="#"><img src="../images/tmp.jpg" width="100%"><p>智能温室管控方案</p></a></li>
	    		<li><a href="#"><img src="../images/tmp.jpg" width="100%"><p>智能温室管控方案</p></a></li>
	    		<li><a href="#"><img src="../images/tmp.jpg" width="100%"><p>智能温室管控方案</p></a></li>
	    		<li><a href="#"><img src="../images/tmp.jpg" width="100%"><p>智能温室管控方案</p></a></li>
	    		<li><a href="#"><img src="../images/tmp.jpg" width="100%"><p>智能温室管控方案</p></a></li>
	    	</ul>
	    </div>
	    <div class="block mobile-step">
	    	<h2 class="block-title">手机端管理</h2>
	    	<img src="../images/mobile-step.png" width="100%">
	    </div>
	    <div class="block buy">
	    	<h2 class="block-title">系统购买方式</h2>
	    	<img src="../images/buy-step.png" width="100%">
	    </div>
    </div>
    <div class="footer">
    	<div class="wrapper">
    		<ul>
    			<li><a href="">合作伙伴</a></li>
    			<li><a href="">免责声明</a></li>
    			<li><a href="">联系我们</a></li>
    			<li><a href="">帮助文档</a></li>
    			<li><a href="">团队介绍</a></li>
    		</ul>
    		<p><a href="">京ICP备12045252号-2</a><a href="tel://18701029660">联系电话：18701029660</a></p>
    	</div>
    </div>

</body>
</html>
