<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
        
    <title>首页</title>

    <meta name="Keywords" content="" />
    <meta name="Description" content="" />

</head>
<body>
    <div class="wrapper">
        <h1>农场名称农场名称</h1>
        <div class="banner">
	        <img src="../images/banner11.jpg" width="100%">
	    </div>
	    <div class="block environment">
	    	<h2 class="block-title">农场环境<span>Farm environment</span></h2>
	    	<div class="list">
	    		<dl>
                    <dd><i class="icon icon-temperature"></i></dd>
                    <dt>28</dt>
                    <dd>温度( ℃ )</dd>         
                </dl>
                <dl>
                    <dd><i class="icon icon-humidity"></i></dd>
                    <dt>28</dt>
                    <dd>温度( ℃ )</dd>         
                </dl>
                <dl>
                    <dd><i class="icon icon-light"></i></dd>
                    <dt>28</dt>
                    <dd>温度( ℃ )</dd>         
                </dl>
                <dl>
                    <dd><i class="icon icon-speed"></i></dd>
                    <dt>28</dt>
                    <dd>温度( ℃ )</dd>         
                </dl>
                <dl>
                    <dd><i class="icon icon-direction"></i></dd>
                    <dt>28</dt>
                    <dd>温度( ℃ )</dd>         
                </dl>
	    	</div>
	    </div>
	    <div class="block introduction">
	    	<h2 class="block-title">农场介绍<span>Farm introduction</span></h2>
	    	<div class="intro-cont">
                <img src="../images/map.jpg" width="100%">
                <div class="txt">
                    <p>小汤山镇是中国北京市昌平区下辖的一个镇，位于县境中部偏东，距北京首都国际机场19公里。维基百科,以友谊农场五分场二队为例介绍了实现客户/服务器模式的精准农业,地理信息系统的开发。以友谊农场五分场二队为例介绍了实现客户/服务器模式的精准农业地理信息系统的开发。</p>
                    <p>小汤山镇是中国北京市昌平区下辖的一个镇，位于县境中部偏东，距北京首都国际机场19公里。维基百科,以友谊农场五分场二队为例介绍了实现客户/服务器模式的精准农业,地理信息系统的开发。以友谊农场五分场二队为例介绍了实现客户/服务器模式的精准农业地理信息系统的开发。</p>
                    <p>面积:38.1 平方公里...小汤山镇是中国北京市昌平区下辖的一个镇，位于县境中部偏东，距北京首都国际机场19公里。维基百科,以友谊农场五分场二队为例介绍了实现客户/服务器模式的精准农业,地理信息系统的开发。以友谊农场五分场二队为例介绍了实现客户/服务器模式的精准农业地理信息系统的开</p>
                </div>
            </div>
	    </div>
	    <div class="block products">
	    	<h2 class="block-title">农场产品<span>Farm products</span></h2>
	    	<ul>
                <li><a href="#"><img src="../images/tmp.jpg" width="100%"><p>智能温室管控方案</p></a></li>
                <li><a href="#"><img src="../images/tmp.jpg" width="100%"><p>远程智能阀门管控方案</p></a></li>
                <li><a href="#"><img src="../images/tmp.jpg" width="100%"><p>智能温室管控方案</p></a></li>
                <li><a href="#"><img src="../images/tmp.jpg" width="100%"><p>智能温室管控方案</p></a></li>
                <li><a href="#"><img src="../images/tmp.jpg" width="100%"><p>智能温室管控方案</p></a></li>
                <li><a href="#"><img src="../images/tmp.jpg" width="100%"><p>智能温室管控方案</p></a></li>
                <li><a href="#"><img src="../images/tmp.jpg" width="100%"><p>智能温室管控方案</p></a></li>
                <li><a href="#"><img src="../images/tmp.jpg" width="100%"><p>智能温室管控方案</p></a></li>
            </ul>
	    </div>
        <div class="block information">
            <h2 class="block-title">联系方式<span>Contact information</span></h2>
            <ul>
                <li><i class="icon icon-ct1"></i><span>农场主：刘厂长</span></li>
                <li><i class="icon icon-ct2"></i><span>电话：400-123-1234</span></li>
                <li><i class="icon icon-ct3"></i><span>地址：北京市昌平区昌金路三金园区昌金路</span></li>
            </ul>
        </div>
    </div>

</body>
</html>
