<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <title>首页</title>
    <meta name="Keywords" content="" />
    <meta name="Description" content="" />
</head>

<body>
    
    <section class="m-wrapper">
        <ul class="tabs">
            <li><a href="#">产品介绍</a></li>
            <li class="cur"><a href="#">生长环境</a></li>
            <li><a href="#">农事记录</a></li>
        </ul>
    </section>

    <section class="m-wrapper charts">
        <section class="img-wrap">
            <img src="../images/charts.jpg" width="100%">
            <p>环境温度</p>
        </section>
        <section class="img-wrap">
            <img src="../images/charts.jpg" width="100%">
            <p>环境温度</p>
        </section>
        <section class="img-wrap">
            <img src="../images/charts.jpg" width="100%">
            <p>环境温度</p>
        </section>
    </section>
</body>

</html>