<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <title>首页</title>
    <meta name="Keywords" content="" />
    <meta name="Description" content="" />
</head>

<body>
    
    <section class="m-wrapper">
        <ul class="tabs">
            <li class="cur"><a href="#">产品介绍</a></li>
            <li><a href="#">生长环境</a></li>
            <li><a href="#">农事记录</a></li>
        </ul>
        <section class="banner">
            <img src="../images/banner.jpg" width="100%">
        </section>
        <section class="li-1">
            <dl>
                <dt><i class="ico ico1"></i></dt>
                <dd class="tit">多肉的植物</dd>
                <dd>批次：2017451235622号</dd>
            </dl>
            <dl>
                <dt><i class="ico ico2"></i></dt>
                <dd class="tit">农小盒食品一号工厂</dd>
                <dd>北京市海淀区花园路14号环星大厦一号楼<br>400-123-1234</dd>
            </dl>
            <dl>
                <dt><i class="ico ico3"></i></dt>
                <dd class="tit green">60天</dd>
                <dd>2017-7-20种植 ~ 2017-9-20采收</dd>
            </dl>
        </section>
    </section>
    <section class="m-wrapper">
        <section class="img-wrap">
            <img src="../images/tmp2.jpg" width="100%" />
            <p>2017-7-20种植</p>
        </section>
        <section class="img-wrap">
            <img src="../images/tmp2.jpg" width="100%" />
            <p>2017-7-20种植</p>
        </section>
        <section class="img-wrap">
            <img src="../images/tmp2.jpg" width="100%" />
            <p>2017-7-20种植</p>
        </section>
        <section class="loading-more"><i></i>加载中...</section>
    </section>
</body>

</html>